<div class="row">
    <div class="column">
        <table>
            <thead>
                <th>#</th>
                <th>url</th>
                <th>name</th>
                <th>description</th>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td><a href="/ip">/ip</ip></td>
                    <td><a href="/ip">your ip</a></td>
                    <td>ip, useragent, etc</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
