<div class="row">
    <div class="column">
        <table>
            <thead>
                <th>#</th>
                <th>url</th>
                <th>name</th>
                <th>description</th>
            </thead>
            <tbody>
                <tr class="us-cursor-pointer us-table-highlight-on-hover" onclick="navigateTo('/ip')">
                    <td>1.</td>
                    <td><a href="/ip">/ip</ip></td>
                    <td><a href="/ip">your ip</a></td>
                    <td>ip, useragent, etc</td>
                </tr>
                <tr class="us-cursor-pointer us-table-highlight-on-hover" onclick="navigateTo('/whois')">
                    <td>2.</td>
                    <td><a href="/whois">/whois</ip></td>
                    <td><a href="/whois">whois</a></td>
                    <td>info about domains and addresses</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
